<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
    <meta name="author" content="Megrez" />
    <link rel="canonical" href="{{ canonical }}">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/bower_components/pure/pure-min.css" | prepend: site.baseurl}}">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ "/bower_components/pure/grids-responsive-old-ie-min.css" | prepend: site.baseurl }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/bower_components/pure/grids-responsive-min.css" | prepend: site.baseurl }}">
    <!--<![endif]-->

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/code.css" | prepend: site.baseurl }}">
    <link href="/css/min/fancybox.css" rel="stylesheet">

    <link href="{{ "/bower_components/fontawesome/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <link href="//fonts.useso.com/css?family=Wire+One" rel="stylesheet" type="text/css">
    <link href='//fonts.useso.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <!--
     图像可以到http://asciigen.com/  生成..记得翻墙才能正常生成.如不方便可以博客留言我帮你生成
     -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/bower_components/slideout.js/dist/slideout.min.js" | prepend: site.baseurl }}"></script>
    <!-- Baidu Analytics -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8e82ac76a2f59c7a99f565602bd619c5";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
