<div class="sidebar pure-u-1 pure-u-md-1-4">
    <img id="sidebar-bg" class="blur" src="/img/11670815,1440,900.jpg" />
    <div class="header">
        <div class="headerpic">
            <a href="/">
                <img src="{{site.gavatar}}" alt="Profile Picture" style="width: 100px;" title="返回首页" />
            </a>
        </div>
        <div id="toc" data-toc="h1, h2, h3" data-toc-container=".article"></div>
        <h1 class="brand-title">Megrez</h1>
        <h2 class="brand-tagline">An amateur coder</h2>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/Timing">Timeline</a>
                </li>
                <li class="nav-item">
                    <a href="/tag">Tags</a>
                </li>
                <li class="nav-item">
                    <a href="/type">Archive</a>
                </li>
                <li class="nav-item">
                    <a href="/resume">About</a>
                </li>
            </ul>
        </nav>
        <nav id="nav">
            <ul class="nav-list">
                <li class="nav-link">
                <a class="weibo" href="http://weibo.com/{{site.weibo}}" ><i class="fab fa-weibo fa-2x"></i></a>
                </li>
                <li class="nav-link">
                <a class="github" href="https://github.com/{{site.github}}"><i class="fab fa-github fa-2x"></i></a>
                </li>
                <li class="nav-link">
                <a class="rss" href="/rss.xml" ><i class="fa fa-rss fa-2x"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>