<!DOCTYPE HTML>
<html>
    {% include head.html %}
<body>
<div id="layout" class="pure-g">
    {% include sidebar.html %}
    <div class="content pure-u-1 pure-u-md-3-4">
        <div class="navbar">
            <i class="fa fa-bars fa-lg fa-arrow-left" id="expand-menu"></i>
        </div>
        <!--[if lt IE 8]>
        <i class="label label-danger">亲爱的用户，您的浏览器版本过低，建议您升级浏览器获得更好的用户体验</i>
        <![endif]-->
        <div>
            <div class="posts">
                {{ content }}
            </div>
            </div>
        <div class="footer">
                <a href="/resume">About</a>
                 <a href="/archieve">Archieve</a>
                <a href="tencent://message/?uin={{site.qq}}">QQ</a>
                <a href="https://github.com/{{site.github}}">GitHub</a>
        </div>
        <div class="topfade"><a href="javascript:;" title="返回顶部"></a></div>
    </div>

</div>
{% include footer.html %}
</body>

</html>
